<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    Developed by <%= link_to "Sebastian Ls", "http://sebastianls.com", :target => "_blank" %> with the help of the <%= link_to "Ruby on Rails Tutorial", "http://www.railstutorial.org/" %>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>